.header {
    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
        &-box, &-list {
            display: flex;
            align-items: center;
            gap: 30px;
        }
        .fa-bars {
            display: none;
        }
    }
    &__hero {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 50px 0 0 0;
        h1 {
            width: 380px;
            font-size: 38px;
            color: #22343D;
        }
        &-text {
            width: 450px;
            margin: 10px 0 60px 0;
        }
        &-link {
            font-size: 16px;
            text-decoration: underline;
            color: #02897A;
            margin: 0 20px;
        }
    }
}


@media screen and (max-width: 400px) {
    .header__nav {
        width: 100%;
        padding: 10px;
        &-box {
            display: none;
        }
        .fa-bars {
            display: block;
            font-size: 35px;
        }
    }   
    .header__hero {
        display: block;
        width: 100%;
        padding: 30px 10px;
        h1 {
            text-align: center;
        }
        &-text {
            width: 90%;
            text-align: center;
            margin: 10px 0 30px 20px;
        }
        &-btn {
            margin: 0 0 40px 25px;
        }
        &-img {
            width: 100%;
        }
    }
}